
<div class="span 30 offset14">


<h4>Name:</h4>
<span class="name"><%= profile.name %></span>
  
<h4>Gender:</h4>
<span class="gender"><%= profile.gender %></span>

<h4>Age:</h4>
<span class="age"><%= profile.age %></span>

<h4>Where I live:</h4>
<span class="mytown"><%= profile.mytown %></span>


<h4>Schools I attended:</h4>
<span class="myschools"><%= profile.myschools %></span>


<h4>What I do:</h4>
<span class="myjob"><%= profile.myjob %></span>


<h4>About me:</h4>
<span class="facts"><%= profile.facts %></span>


 </div>

